@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 60, 62, 65;
  --background-rgb: 236, 240, 243;
  --color-primary: #ff014f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 196, 207, 222;
    --background-rgb: 33, 36, 40;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .body_bg_light_dark {
    background: rgb(var(--background-rgb));
  }

  .light_gradient_bg {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
  }

  .dark_gradient_bg {
    background: linear-gradient(145deg, #1e2024, #23272b);
  }

  .dark_bg {
    background: #191b1e;
  }

  .inner_dark_bg {
    background: linear-gradient(to right bottom, #212428, #16181c);
  }

  .inner_red_bg {
    background: linear-gradient(145deg, var(--color-primary), #d11414);
  }

  .flex_items_center {
    @apply flex items-center;
  }

  .flex_center {
    @apply flex_items_center justify-center;
  }

  .flex_space_between {
    @apply flex_items_center justify-between;
  }

  .section_seperator {
    position: relative;
  }
  .section_seperator::after {
    position: absolute;
    max-width: 1236px;
    height: 1px;
    background: #dce1e4;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  @media (prefers-color-scheme: dark) {
    .section_seperator::after {
      background: #121415;
    }
  }

  .section_container {
    @apply section_seperator py-20 xl:py-[6.25rem] xl:px-[1.875rem] px-4;
  }

  .card_container {
    @apply dark:dark_gradient_bg light_gradient_bg py-[30px] px-[50px] dark:shadow-s_dark shadow-s_light before:content-[] before:absolute before:w-full h-full rounded-[0.625rem] before:top-0 before:left-0 before:opacity-0 before:-z-[1] dark:before:inner_dark_bg dark:hover:inner_dark_bg hover:inner_red_bg hover:-translate-y-[0.5rem] duration-[0.4s] ease-in-out text-left z-[1] relative hover:text-white flex flex-col;
  }

  .card_title {
    @apply font-medium text-2xl mb-4 md:mb-5 capitalize;
  }

  .card_description {
    @apply text-base leading-7 h-[162px] dark:text-light hover:text-white;
  }

  .anchor_text {
    @apply text-blue-500 underline group-hover:text-white;
  }

  .main_footer_container {
    @apply container 2xl:max-w-[82.5rem] mx-auto pt-5 xl:pt-[1.75rem] px-3;
  }

  .footer_padding {
    padding-top: 6.25rem !important;
    padding-bottom: 6.25rem !important;
  }

  .form_control {
    @apply bg-light_bg dark:bg-dark_bg border-2 border-solid border-[#dadada] dark:border-dark_bg font-montserrat font-medium shadow-none rounded-md px-4 focus:border-red_primary focus-visible:outline-none dark:shadow-inner_shadow w-full;
  }

  .field_label {
    @apply dark:text-[#a0a8b3] text-xs font-medium uppercase tracking-[1px] font-montserrat mb-[0.875rem] block;
  }
}
